<?xml version="1.0"?>

<!--<connectionStrings>
  <add name="Dbconn"
       connectionString="Data Source=TLKFSQL02v\STG2K5;Initial Catalog=DataControl;Persist Security Info=True;User ID=hcn;Password=hcntest;Encrypt=True;TrustServerCertificate=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>-->

<connectionStrings>
  <add name="Dbconn"
       connectionString="Data Source=C002672;Initial Catalog=BusinessManager;Integrated Security=SSPI;Encrypt=True;TrustServerCertificate=True"
       providerName="System.Data.SqlClient" />
</connectionStrings>